<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.mrs.persist.mapper.MrsFunderConfigMapper">
  <resultMap id="BaseResultMap" type="com.newland.mrs.persist.model.MrsFunderConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rule_no" jdbcType="VARCHAR" property="ruleNo" />
    <result column="funder_code" jdbcType="VARCHAR" property="funderCode" />
    <result column="funder_name" jdbcType="VARCHAR" property="funderName" />
    <result column="preserve_start_time" jdbcType="TIMESTAMP" property="preserveStartTime" />
    <result column="preserve_end_time" jdbcType="TIMESTAMP" property="preserveEndTime" />
    <result column="loan_start_time" jdbcType="TIMESTAMP" property="loanStartTime" />
    <result column="loan_end_time" jdbcType="TIMESTAMP" property="loanEndTime" />
    <result column="batch_start_time" jdbcType="TIMESTAMP" property="batchStartTime" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="enable" jdbcType="CHAR" property="enable" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rule_no, funder_code, funder_name, preserve_start_time, preserve_end_time, loan_start_time, 
    loan_end_time, batch_start_time, priority, enable, remark, create_user, update_user
  </sql>
  <select id="selectByExample" parameterType="com.newland.mrs.persist.model.MrsFunderConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mrs_funder_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mrs_funder_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mrs_funder_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.newland.mrs.persist.model.MrsFunderConfigExample">
    delete from mrs_funder_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newland.mrs.persist.model.MrsFunderConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mrs_funder_config (rule_no, funder_code, funder_name, 
      preserve_start_time, preserve_end_time, 
      loan_start_time, loan_end_time, batch_start_time, 
      priority, enable, remark, 
      create_user, update_user)
    values (#{ruleNo,jdbcType=VARCHAR}, #{funderCode,jdbcType=VARCHAR}, #{funderName,jdbcType=VARCHAR}, 
      #{preserveStartTime,jdbcType=TIMESTAMP}, #{preserveEndTime,jdbcType=TIMESTAMP}, 
      #{loanStartTime,jdbcType=TIMESTAMP}, #{loanEndTime,jdbcType=TIMESTAMP}, #{batchStartTime,jdbcType=TIMESTAMP}, 
      #{priority,jdbcType=INTEGER}, #{enable,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.newland.mrs.persist.model.MrsFunderConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mrs_funder_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ruleNo != null">
        rule_no,
      </if>
      <if test="funderCode != null">
        funder_code,
      </if>
      <if test="funderName != null">
        funder_name,
      </if>
      <if test="preserveStartTime != null">
        preserve_start_time,
      </if>
      <if test="preserveEndTime != null">
        preserve_end_time,
      </if>
      <if test="loanStartTime != null">
        loan_start_time,
      </if>
      <if test="loanEndTime != null">
        loan_end_time,
      </if>
      <if test="batchStartTime != null">
        batch_start_time,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ruleNo != null">
        #{ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="funderCode != null">
        #{funderCode,jdbcType=VARCHAR},
      </if>
      <if test="funderName != null">
        #{funderName,jdbcType=VARCHAR},
      </if>
      <if test="preserveStartTime != null">
        #{preserveStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preserveEndTime != null">
        #{preserveEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanStartTime != null">
        #{loanStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanEndTime != null">
        #{loanEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchStartTime != null">
        #{batchStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newland.mrs.persist.model.MrsFunderConfigExample" resultType="java.lang.Long">
    select count(*) from mrs_funder_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mrs_funder_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ruleNo != null">
        rule_no = #{record.ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.funderCode != null">
        funder_code = #{record.funderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.funderName != null">
        funder_name = #{record.funderName,jdbcType=VARCHAR},
      </if>
      <if test="record.preserveStartTime != null">
        preserve_start_time = #{record.preserveStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.preserveEndTime != null">
        preserve_end_time = #{record.preserveEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loanStartTime != null">
        loan_start_time = #{record.loanStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loanEndTime != null">
        loan_end_time = #{record.loanEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.batchStartTime != null">
        batch_start_time = #{record.batchStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.enable != null">
        enable = #{record.enable,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mrs_funder_config
    set id = #{record.id,jdbcType=BIGINT},
      rule_no = #{record.ruleNo,jdbcType=VARCHAR},
      funder_code = #{record.funderCode,jdbcType=VARCHAR},
      funder_name = #{record.funderName,jdbcType=VARCHAR},
      preserve_start_time = #{record.preserveStartTime,jdbcType=TIMESTAMP},
      preserve_end_time = #{record.preserveEndTime,jdbcType=TIMESTAMP},
      loan_start_time = #{record.loanStartTime,jdbcType=TIMESTAMP},
      loan_end_time = #{record.loanEndTime,jdbcType=TIMESTAMP},
      batch_start_time = #{record.batchStartTime,jdbcType=TIMESTAMP},
      priority = #{record.priority,jdbcType=INTEGER},
      enable = #{record.enable,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.mrs.persist.model.MrsFunderConfig">
    update mrs_funder_config
    <set>
      <if test="ruleNo != null">
        rule_no = #{ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="funderCode != null">
        funder_code = #{funderCode,jdbcType=VARCHAR},
      </if>
      <if test="funderName != null">
        funder_name = #{funderName,jdbcType=VARCHAR},
      </if>
      <if test="preserveStartTime != null">
        preserve_start_time = #{preserveStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preserveEndTime != null">
        preserve_end_time = #{preserveEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanStartTime != null">
        loan_start_time = #{loanStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanEndTime != null">
        loan_end_time = #{loanEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchStartTime != null">
        batch_start_time = #{batchStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.mrs.persist.model.MrsFunderConfig">
    update mrs_funder_config
    set rule_no = #{ruleNo,jdbcType=VARCHAR},
      funder_code = #{funderCode,jdbcType=VARCHAR},
      funder_name = #{funderName,jdbcType=VARCHAR},
      preserve_start_time = #{preserveStartTime,jdbcType=TIMESTAMP},
      preserve_end_time = #{preserveEndTime,jdbcType=TIMESTAMP},
      loan_start_time = #{loanStartTime,jdbcType=TIMESTAMP},
      loan_end_time = #{loanEndTime,jdbcType=TIMESTAMP},
      batch_start_time = #{batchStartTime,jdbcType=TIMESTAMP},
      priority = #{priority,jdbcType=INTEGER},
      enable = #{enable,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>